<div class="container">

    <nav aria-label="breadcrumb ms-3 ">
        <ol class="breadcrumb ">
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/"
                    routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/products">Productos</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{isEditSession?'Editar':'Nuevo'}}</li>
        </ol>
    </nav>
</div>



<div class="container w-75 w-md-75 mb-5 ">
    <div class="container card-header py-3 d-flex justify-content-between align-items-baseline ">
        <h5 class="m-0 font-weight-bold text-primary">{{isEditSession?"Edición":"Registro"}} de Producto</h5>
        <button routerLink='../' class="btn btn-outline-primary">Volver</button>
    </div>



    <form #product_form="ngForm" (ngSubmit)="createProduct(product_form)">

        <div class="row gy-4 mb-4 ">

            <div class="form-group col-12 col-md-6 col-lg-4">
                <label for="supplierCode" class="form-label">Proveedor:  <span *ngIf=" supplier.invalid"  class="warning-txt">✱</span></label>
                <select [class.input-valid]="supplier.valid && supplier.touched"
                    [class.input-invalid]="supplier.touched &&supplier.invalid" [disabled]="isEditSession"
                    class="form-select" id="supplierCode" name="supplier" required
                    (change)="getCategoriesOfSupplier(supplier.value)"
                    [(ngModel)]="product!.supplier.supId" #supplier="ngModel">
                    <option value="" disabled selected>Elige una Proveedor</option>
                    <option *ngFor="let sup of suppliers" [value]="sup.supId">{{sup.supBussinessName}}</option>
                </select>
                <div class="position-absolute ">
                    <span *ngIf="supplier?.errors?.['required'] && (supplier.touched)" class="font-weight-light warning-txt">Código de Proveedor es obligatorio.</span>
                </div>
            </div>

            <div class="form-group col-12 col-md-6 col-lg-4">
                <label for="category" class="form-label">Categoría:  <span *ngIf="category.invalid"  class="warning-txt">✱</span></label>
                <select [class.input-valid]="category.valid && category.touched"
                    [class.input-invalid]="category.touched && category.invalid" 
                    class="form-select" id="category"
                    name="category" required [(ngModel)]="product!.category.catId" #category="ngModel">
                    <option value="" disabled selected>Elige una categoría</option>
                    <option *ngFor="let cat of categories" [value]="cat.catId">{{cat.catName}}</option>
                </select>
                <div class="position-absolute ">
                    <span *ngIf="category?.errors?.['required'] && (category.touched)" class="font-weight-light warning-txt">Categoría es obligatoria.</span>
                </div>
            </div>

            <div class="form-group col-12 col-md-12 col-lg-4">
                <label for="SKUCode" class="form-label">Código SKU:  <span *ngIf="SKUCode.invalid"  class="warning-txt">✱</span></label>
                <input [class.input-valid]="SKUCode.valid && SKUCode.touched"
                    [class.input-invalid]="SKUCode.touched && SKUCode.invalid" [disabled]="isEditSession"
                    type="text" placeholder="Ingresa el SKU del producto" class="form-control" id="SKUCode"
                    name="prodSku" required [(ngModel)]="product!.prodSku" #SKUCode="ngModel">
                <div class="position-absolute ">
                    <span *ngIf="SKUCode?.errors?.['required'] && (SKUCode.touched)" class="font-weight-light warning-txt">Código SKU es obligatorio.</span>
                </div>
            </div>
        </div>

        <div class="row gy-4 mb-4">
            <div class="form-group col-12 col-md-6">
                <label for="productName" class="form-label">Nombre del Producto:  <span *ngIf="productName.invalid"  class="warning-txt">✱</span></label>
                <input [class.input-valid]="productName.valid && productName.touched" [class.input-invalid]="productName.touched && productName.invalid"
                type="text" class="form-control" id="productName" name="prodName" required placeholder="Ingrese un nombre para el producto"
                    [(ngModel)]="product!.prodName" #productName="ngModel">
                <div class="position-absolute" *ngIf="productName?.errors?.['required'] && (productName.touched)">
                    <span  *ngIf="productName?.errors?.['required'] && (productName.touched)" class="font-weight-light warning-txt">Nombre del Producto es obligatorio.</span>
                </div>
            </div>

            <div class="form-group col-12 col-md-6">
                <label for="productImage" class="form-label">Imagen:</label>
                <input type="text" class="form-control" id="productImage" name="prodImage" placeholder="URL de la imagen"
                    [(ngModel)]="product!.prodImage" #productImage="ngModel">
    

            </div>
        </div>

        <div class="row mb-4">

            <div class="form-group col-sm-12">
                <label for="description" class="form-label">Descripción:  <span *ngIf="description.invalid"  class="warning-txt">✱</span></label>
                <textarea [class.input-valid]="description.valid && description.touched" [class.input-invalid]="description.touched && description.invalid"
                class="form-control" id="description" name="prodDescription" rows="3" required placeholder="Ingrese un texto descriptivo para el producto"
                [(ngModel)]="product!.prodDescription" #description="ngModel"></textarea>
                <div class="position-absolute">
                    <span *ngIf="description?.errors?.['required'] && (description.touched)" class="font-weight-light warning-txt">Descripción es obligatoria.</span>
                </div>
            </div>
        </div>

        <div class="row mb-5">

            <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3">
                <label for="price" class="form-label">Precio:  <span *ngIf="price.invalid"  class="warning-txt">✱</span></label>
                <div class="input-group" >
                    <span class="input-group-text">$</span>  
                    <input [class.input-valid]="price.valid && price.touched" [class.input-invalid]="price.value < 1 && price.invalid && (price.touched)"
                    type="number" class="form-control input-group-text " id="price" name="prodPrice" required
                    [(ngModel)]="product!.prodPrice"  min="1" #price="ngModel" placeholder="0">
                </div>
                <div class="position-absolute " >
                    <span *ngIf="price?.errors?.['required'] && price.touched" class="font-weight-light warning-txt">Precio es obligatorio. </span>
                    <span *ngIf=" !price?.errors?.['required'] && price?.value <= 0 && price.touched"class="font-weight-light warning-txt">Precio debe ser mayor que 0. </span>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-8 col-xl-9 text-muted text-end ">
                <p class="mt-5"><span class="warning-txt" style="font-size:1em">✱   </span> El campo es obligatorio</p>
            </div>
        </div>
            
        <div class="form-group">

            <button type="submit" [disabled]="!product_form.valid" *ngIf="!isEditSession" class="btn btn-primary"
            id="guardar-producto">Registrar Producto</button>
            <button type="submit" [disabled]="!product_form.valid" *ngIf="isEditSession" class="btn btn-primary"
            id="editar-producto">Editar Producto</button>
            
        </div>
    </form>

</div>