<div class="container mt-5">
    <div class="card shadow mb-4">
        <div class="container card-header py-3 d-flex justify-content-between align-items-baseline ">
            <div class="row">

                <!-- --------filtros--------- -->
            </div> 
            <button [routerLink]="['new']" class="btn btn-primary">Nuevo Producto</button>
        </div>
    </div>
    <div class="row m-2">

        <div *ngFor="let prod of products" class="col-4">
            <div class="card d-flex flex-row">
                <div class="card-img ">
                    <img class=" img-fluid h-100 object-fit-cover " src={{prod.image}}
                        alt='{{prod.descripcion}} product photo'>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{prod.nombre_producto}} - <sub>{{prod.codigo_SKU}}</sub></h5>
                    <p class="card-text">{{prod.descripcion}}</p>
                    <a [routerLink]="[prod.id]" class="btn btn-primary">Mas detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>