<div class="container">

    <nav aria-label="breadcrumb ms-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a routerLink="/"
                    routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item" aria-current="page">Ordenes de Compra</li>
        </ol>
    </nav>
    <h3 class="m-0 font-weight-bold text-primary accordion my-5 ms-2">Ordenes</h3>
    <div class="card shadow mb-4">
        <div class="container card-header py-3 d-flex justify-content-between align-items-baseline ">
            <div class="row d-flex flex-row ">

                <form >
                    <div class="form-group  d-flex gap-2 ">
                        <select [(ngModel)]="selectedOrderStatus" (change)="search()" class="form-select form-select-sm"
                            name="category" id="category" #filter>
                            <option value="" disabled selected>Filtrar por estado</option>
                            <option value="all" >Todos</option>
                            <option *ngFor="let ordSt of orderStatus" [value]="ordSt.ordstId">{{ordSt.ordstName}}
                            </option>
                        </select>
            
                    </div>
                </form>


            </div>



            <div>
                <button routerLink='../' class="btn btn-outline-primary me-2">Volver</button>
                <button [routerLink]="['form']" class="btn btn-primary">Nueva Orden</button>
            </div>

    

        </div>
        <div class="card-body">
            <ng-container *ngIf="showTable() || filter.value=='all' || filter.value==''">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nro Orden</th>
                            <th>Fecha Emision</th>
                            <th>Proveedor</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="ordenes-container">


                        
                        <tr *ngFor="let order of orders">
                            <td [ngClass]="order.ordStatus.ordstId==10?'text-muted bg-light bg-gradient':''">{{order.ordId}}</td>
                            <td [ngClass]="order.ordStatus.ordstId==10?'text-muted bg-light bg-gradient':''">{{order.ordIssueDate}}</td>
                            <td [ngClass]="order.ordStatus.ordstId==10?'text-muted bg-light bg-gradient':''">{{order.supplier.supBussinessName}}</td>
                            <td [ngClass]="order.ordStatus.ordstId==10?'text-muted bg-light bg-gradient':''">{{order.ordStatus.ordstName}}</td>

                       
                            <td class="d-flex my-auto gap-2">
                                <ng-container >
                                    <button class="btn btn-info btn-sm  text-light"
                                        routerLink={{order.ordId}}><fa-icon [icon]="faView"></fa-icon>
                                    </button>
                                    <ng-container *ngIf="order.ordStatus.ordstId!==10">

                                        <button class="btn btn-warning btn-sm text-light "
                                        [routerLink]="['form/'+order.ordId]"><fa-icon
                                        [icon]="faEdit"></fa-icon></button>
                                        <button class="btn btn-danger btn-sm text-light "
                                        (click)="cancelOrder(order)"><fa-icon
                                        [icon]="faDelete"></fa-icon></button>
                                    </ng-container>
                                </ng-container>
                                

                            </td>
                        </tr>




                    </tbody>
                </table>
            </div>
        </ng-container>
        <ng-container *ngIf="!showTable() && filter.value!='all' && filter.value!=''">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-md-12">
                            <section class="alert text-center" role="alert">
                                <h4 class="alert-heading">No hay ordenes con este estado</h4>
                                <p>Prueba cambiando los criterios de busqueda o puedes agregar una orden.</p>

                                <button class="btn btn-primary" routerLink="form" type="button">Crear orden</button>
                            </section>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>