<div class="container mt-5">

    <nav aria-label="breadcrumb mx-3">
        <ol class="breadcrumb ms-3">
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/"
                    routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Productos</li>
        </ol>
    </nav>
    <div class="card shadow mb-4">
        <div class="container card-header py-3 d-flex justify-content-between align-items-baseline ">
            <div class="row">

                <!-- --------filtros--------- -->
            </div> 
            <div>

                <button routerLink='../'   class="btn btn-outline-primary me-2">Volver</button>
                <button [routerLink]="['new']" class="btn btn-primary">Nuevo Producto</button>
            </div>
        </div>
    </div>
    <div class="row m-2" >

        <div *ngFor="let prod of products" class="col-4">
            <div class="card d-flex flex-row mb-3" style="height:13em;overflow:hidden;">
                <div class="card-img ">
                    <img class=" img-fluid w-100 h-100 object-fit-cover " src={{prod.image}}
                        alt='{{prod.descripcion}} product photo'>
                </div>
                <div class="card-body">
                    <sub>{{prod.cod_proveedor}}</sub>
                    <h5 class="card-title">{{prod.nombre_producto}} - <sub>{{prod.codigo_SKU}}</sub></h5>
                    <p class="card-text">{{prod.descripcion}}</p>
                    <div class="d-flex ">

                        <button class="btn btn-warning me-2 text-light " [routerLink]="['/productos/edit/'+prod.id]" ><fa-icon [icon]="faEdit"></fa-icon></button>
                        <a [routerLink]="[prod.id]" class="btn btn-primary h-25">Detalle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>