<div class="container mt-5">

    <nav aria-label="breadcrumb ms-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/"
                    routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="/proveedores">Proveedores</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{isEditSession?'Editar':'Nuevo'}}</li>
        </ol>
    </nav>

    <div class="container card-header py-3 d-flex justify-content-between align-items-baseline ">
        <h6 class="m-0 font-weight-bold text-primary">Registro de Proveedor</h6>

        <button routerLink='../' class="btn btn-outline-primary">Volver</button>
    </div>


    <form #proveedor_form="ngForm" (ngSubmit)="createProveedor(proveedor_form)">
        <div class="form-group">
            <label for="razon_social">Razón Social:</label>
            <input [(ngModel)]="service.proveedorTemplate.razon_social" type="text" class="form-control"
                id="razon_social" name="razon_social" required #razonSocial="ngModel">
            <div *ngIf="razonSocial?.errors?.['required'] && (razonSocial.dirty || razonSocial.touched)">
                <div class="text-danger">Razón Social es obligatoria.</div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="rubro">Rubro:</label>
                <select [(ngModel)]="service.proveedorTemplate.rubro" class="form-control" id="rubro" name="rubro"
                    required #rubro="ngModel">
                    <option *ngFor="let rubro of rubrosPermitidos" [value]="rubro">{{rubro}}</option>
                </select>
                <div *ngIf="rubro?.errors?.['required'] && (rubro.dirty || rubro.touched)">
                    <div class="text-danger">Rubro es obligatorio.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="sitio_web">Sitio web:</label>
                <input [(ngModel)]="service.proveedorTemplate.sitio_web" type="url" class="form-control" id="sitio_web"
                    name="sitio_web">
            </div>

            <div class="form-group col-md-4">
                <label for="email">Email:</label>
                <input [(ngModel)]="service.proveedorTemplate.email" type="email" class="form-control" id="email"
                    name="email" required #email="ngModel">
                <div *ngIf="email?.errors?.['required'] && (email.dirty || email.touched)">
                    <div class="text-danger">Email es obligatorio.</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="telefono">Teléfono:</label>
                <input [(ngModel)]="service.proveedorTemplate.telefono" type="number" class="form-control"
                       id="telefono" name="telefono"
                       pattern="^[0-9]{1,11}$" 
                       maxlength="11">
                <div *ngIf="telefono?.errors?.['required'] && (telefono.dirty || telefono.touched)">
                    <div class="text-danger">Teléfono es obligatorio.</div>
                </div>
                <div *ngIf="telefono?.errors?.['pattern'] && (telefono.dirty || telefono.touched)">
                    <div class="text-danger">Teléfono debe contener solo dígitos numéricos y tener hasta 11 dígitos.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="calle_numero">Calle y Número:</label>
                <input [(ngModel)]="service.proveedorTemplate.direccion.calle_numero" type="text" class="form-control"
                    id="calle_numero" name="calle_numero" required #calleNumero="ngModel">
                <div *ngIf="calleNumero?.errors?.['required'] && (calleNumero.dirty || calleNumero.touched)">
                    <div class="text-danger">Calle y Número son obligatorios.</div>
                </div>
            </div>

            <div class="form-group col-md-3">
                <label for="cp">Código Postal:</label>
                <input [(ngModel)]="service.proveedorTemplate.direccion.cp" type="text" class="form-control" id="cp"
                    name="cp" required #cp="ngModel">
                <div *ngIf="cp?.errors?.['required'] && (cp.dirty || cp.touched)">
                    <div class="text-danger">Código Postal es obligatorio.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="pais">País:</label>
                <select (change)="getStates()" [(ngModel)]="service.proveedorTemplate.direccion.pais"
                    class="form-control" id="pais" name="pais" required #pais="ngModel">
                    <option *ngFor="let c of countries" [value]="c.name">{{c.name}}</option>
                </select>
                <div *ngIf="pais?.errors?.['required'] && (pais.dirty || pais.touched)">
                    <div class="text-danger">País es obligatorio.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="provincia">Provincia:</label>
                <select (change)="getCities()" [(ngModel)]="service.proveedorTemplate.direccion.provincia"
                    class="form-control" id="provincia" name="provincia" required #provincia="ngModel">
                    <option *ngFor="let s of states" [value]="s.name">{{s.name}}</option>
                </select>
                <div *ngIf="provincia?.errors?.['required'] && (provincia.dirty || provincia.touched)">
                    <div class="text-danger">Provincia es obligatoria.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="localidad">Ciudad:</label>
                <select [(ngModel)]="service.proveedorTemplate.direccion.localidad" class="form-control" id="localidad"
                    name="localidad" required #localidad="ngModel">
                    <option *ngFor="let c of cities" [value]="c.name">{{c.name}}</option>
                </select>
                <div *ngIf="localidad?.errors?.['required'] && (localidad.dirty || localidad.touched)">
                    <div class="text-danger">Ciudad es obligatoria.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cuit">CUIT:</label>
                <input #cuit="ngModel" [(ngModel)]="service.proveedorTemplate.datos_fiscales.cuit" type="text" class="form-control"
                       id="cuit" name="cuit"
                       pattern="^[0-9]{11}$"  
                       maxlength="11">
                <div *ngIf="cuit?.errors?.['required'] && (cuit.dirty || cuit.touched)">
                    <div class="text-danger">CUIT es obligatorio.</div>
                </div>
                <div *ngIf="cuit?.errors?.['pattern'] && (cuit.dirty || cuit.touched)">
                    <div class="text-danger">CUIT debe contener solo 11 dígitos numéricos.</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="condicion_iva">Condición IVA:</label>
                <select [(ngModel)]="service.proveedorTemplate.datos_fiscales.condicion_iva" class="form-control"
                    id="condicion_iva" name="condicion_iva" required #condicionIVA="ngModel">
                    <option *ngFor="let cond of condicionesIVA" [value]="cond">{{cond}}</option>
                </select>
                <div *ngIf="condicionIVA?.errors?.['required'] && (condicionIVA.dirty || condicionIVA.touched)">
                    <div class="text-danger">Condición IVA es obligatoria.</div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre_contacto">Nombre de Contacto:</label>
                <input [(ngModel)]="service.proveedorTemplate.datos_contacto.nombre" type="text" class="form-control"
                    id="nombre_contacto" name="nombre_contacto" required #nombreContacto="ngModel">
                <div *ngIf="nombreContacto?.errors?.['required'] && (nombreContacto.dirty || nombreContacto.touched)">
                    <div class="text-danger">Nombre de Contacto es obligatorio.</div>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label for="apellido_contacto">Apellido de Contacto:</label>
                <input [(ngModel)]="service.proveedorTemplate.datos_contacto.apellido" type="text" class="form-control"
                    id="apellido_contacto" name="apellido_contacto" required #apellidoContacto="ngModel">
                <div
                    *ngIf="apellidoContacto?.errors?.['required'] && (apellidoContacto.dirty || apellidoContacto.touched)">
                    <div class="text-danger">Apellido de Contacto es obligatorio.</div>
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="telefono">Teléfono:</label>
                <input [(ngModel)]="service.proveedorTemplate.telefono" type="number" class="form-control" id="telefono" #telefono="ngModel"
                    name="telefono" pattern="^[0-9]{1,11}$" maxlength="11">
                <div *ngIf="telefono?.errors?.['required'] && (telefono.dirty || telefono.touched)">
                    <div class="text-danger">Teléfono es obligatorio.</div>
                </div>
                <div *ngIf="telefono?.errors?.['pattern'] && (telefono.dirty || telefono.touched)">
                    <div class="text-danger">Teléfono debe contener solo dígitos numéricos y tener hasta 11 dígitos.
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="email_contacto">Email de Contacto:</label>
                <input [(ngModel)]="service.proveedorTemplate.datos_contacto.email_contacto" type="email"
                    class="form-control" id="email_contacto" name="email_contacto" required #emailContacto="ngModel">
                <div *ngIf="emailContacto?.errors?.['required'] && (emailContacto.dirty || emailContacto.touched)">
                    <div class="text-danger">Email de Contacto es obligatorio.</div>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label for="rol_contacto">Rol de Contacto:</label>
                <input [(ngModel)]="service.proveedorTemplate.datos_contacto.rol" type="text" class="form-control"
                    id="rol_contacto" name="rol_contacto" required #rolContacto="ngModel">
                <div *ngIf="rolContacto?.errors?.['required'] && (rolContacto.dirty || rolContacto.touched)">
                    <div class="text-danger">Rol de Contacto es obligatorio.</div>
                </div>
            </div>
        </div>

        <button type="submit" [disabled]="!proveedor_form.valid" *ngIf="!isEditSession" class="btn btn-primary"
            id="guardar-proveedor">Registrar Proveedor</button>
        <button type="submit" [disabled]="!proveedor_form.valid" *ngIf="isEditSession" class="btn btn-primary"
            id="editar-proveedor">Editar Proveedor</button>
        <div [hidden]="!proveedor_form.submitted" class="alert alert-success position-absolute top-0 end-0">
            <h2>Proveedor Agregado con éxito!</h2>
        </div>
    </form>
</div>