<div class="container mt-5">
    <h2>Registro de Proveedor</h2>
    <div id="proveedor-form">
        <div class="form-group">
            <label for="razon_social">Razón Social:</label>
            <input [(ngModel)]="proveedorTemplate.razonSocial" type="text" class="form-control" id="razon_social" name="razon_social" required>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="sitio_web">Sitio web:</label>
                <input [(ngModel)]="proveedorTemplate.sitioWeb" type="url" classproveedorTemplate.razonSocial="form-control" id="sitio_web" name="sitio_web">
            </div>

            <div class="form-group col-md-4">
                <label for="email">Email:</label>
                <input [(ngModel)]="proveedorTemplate.email" type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group col-md-4">
                <label for="telefono">Teléfono:</label>
                <input [(ngModel)]="proveedorTemplate.telefono" type="tel" class="form-control" id="telefono" name="telefono">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="calle_numero">Calle y Número:</label>
                <input [(ngModel)]="proveedorTemplate.direccion.calleNumero" type="text" class="form-control" id="calle_numero" name="calle_numero"
                    required>
            </div>

            <div class="form-group col-md-3">
                <label for="cp">Código Postal:</label>
                <input [(ngModel)]="proveedorTemplate.direccion.cp" type="text" class="form-control" id="cp" name="cp" required>
            </div>

            <div class="form-group col-md-3">
                <label for="localidad">Localidad:</label>
                <input [(ngModel)]="proveedorTemplate.direccion.localidad" type="text" class="form-control" id="localidad" name="localidad" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="provincia">Provincia:</label>
                <select [(ngModel)]="proveedorTemplate.direccion.provincia" class="form-control" id="provincia" name="provincia" required>
                    <option value="Buenos Aires">Buenos Aires</option>
                    <option value="Córdoba">Córdoba</option>
                    
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cuit">CUIT:</label>
                <input [(ngModel)]="proveedorTemplate.datosFiscales.cuit" type="text" class="form-control" id="cuit" name="cuit" required>
            </div>

            <div class="form-group col-md-6">
                <label for="condicion_iva">Condición IVA:</label>
                <select [(ngModel)]="proveedorTemplate.datosFiscales.condicionIva" class="form-control" id="condicion_iva" name="condicion_iva" required>
                    <option value="Responsable Inscripto">Responsable Inscripto</option>
                    <option value="Monotributista">Monotributista</option>
                    <option value="Exento">Exento</option>
                    
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nombre_contacto">Nombre de Contacto:</label>
                <input [(ngModel)]="proveedorTemplate.datosContacto.nombre" type="text" class="form-control" id="nombre_contacto" name="nombre_contacto"
                    required>
            </div>

            <div class="form-group col-md-6">
                <label for="apellido_contacto">Apellido de Contacto:</label>
                <input [(ngModel)]="proveedorTemplate.datosContacto.apellido" type="text" class="form-control" id="apellido_contacto"
                    name="apellido_contacto" required>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="telefono_contacto">Teléfono de Contacto:</label>
                <input [(ngModel)]="proveedorTemplate.datosContacto.telefonoContacto" type="tel" class="form-control" id="telefono_contacto"
                    name="telefono_contacto">
            </div>

            <div class="form-group col-md-4">
                <label for="email_contacto">Email de Contacto:</label>
                <input [(ngModel)]="proveedorTemplate.datosContacto.emailContacto" type="email" class="form-control" id="email_contacto" name="email_contacto"
                    required>
            </div>

            <div class="form-group col-md-4">
                <label for="rol_contacto">Rol de Contacto:</label>
                <input [(ngModel)]="proveedorTemplate.datosContacto.rol" type="text" class="form-control" id="rol_contacto" name="rol_contacto"
                    required>
            </div>
        </div>

        <button type="submit" *ngIf="isEditSession" (click)="agregarProveedor()" class="btn btn-primary" id="guardar-proveedor">Registrar Proveedor</button>
        <button type="submit" *ngIf="!isEditSession" (click)="editarProveedor()" class="btn btn-primary" id="editar-proveedor">Editar Proveedor</button>
    </div>
</div>


