
<nav class="mt-3" >
    <div class="sidebar-sticky">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" [ngClass]="laRuta('home')?'active':'link-dark'" >Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/proveedores']" routerLinkActive="router-link-active" [ngClass]="laRuta('proveedores')?'active':'link-dark'">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/productos']" routerLinkActive="router-link-active" [ngClass]="laRuta('productos')?'active':'link-dark'">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/ordenes']" routerLinkActive="router-link-active" [ngClass]="laRuta('ordenes')?'active':'link-dark'">Ordenes</a>
            </li>
        </ul>
    </div>
</nav>

 