
<nav class="mt-3" >
    <div class="sidebar-sticky">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active" [ngClass]="laRuta('home')?'active':'link-dark'" >Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/suppliers']" routerLinkActive="router-link-active" [ngClass]="laRuta('suppliers')?'active':'link-dark'">Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/products']" routerLinkActive="router-link-active" [ngClass]="laRuta('products')?'active':'link-dark'">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/orders']" routerLinkActive="router-link-active" [ngClass]="laRuta('orders')?'active':'link-dark'">Ordenes</a>
            </li>
        </ul>
    </div>
</nav>

 