<div class="container mt-5">
    <nav aria-label="breadcrumb mx-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/"
                    routerLinkActive="router-link-active">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Proveedores</li>
        </ol>
    </nav>

    <div class="card shadow mb-4">
        <div class="container card-header py-3 d-flex justify-content-between align-items-baseline ">
            <h6 class="m-0 font-weight-bold text-primary">Proveedores</h6>
            <div>
                <button routerLink='../'   class="btn btn-outline-primary me-2">Volver</button>
                <button [routerLink]= "['new']" class="btn btn-primary">Nuevo Proveedor</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Razón social</th>
                            <th>Sitio web / e-mail / teléfono</th>
                            <th>Contacto</th>
                            <th>Datos fiscales</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="proveedores-container">
                        <tr *ngFor="let prov of proveedores">
                            <td>{{prov.codigo}}</td>
                            <td>{{prov.razon_social}}</td>
                            <td>
                                <a class="d-block " [href]="['http://'+prov.sitio_web]" target="_blank">{{prov.sitio_web}}</a>
                            <a class="d-block " [href]="['mailto: '+prov.email]">{{prov.email}}</a>
                                <span class="d-block">{{prov.telefono}}</span>
                            </td>
                            
                            <td>{{prov.datos_contacto.nombre}}, {{prov.datos_contacto.apellido}}</td>
                            <td>{{prov.datos_fiscales.cuit}}, ({{prov.datos_fiscales.condicion_iva}})</td>
                            <td>
                                
                                <button class="btn btn-warning" routerLink={{prov.codigo}} >Ver </button>
                                <button class="btn btn-warning" [routerLink]="['edit/'+prov.codigo]" >Editar</button>
                                <button (click)="deleteProveedor(prov.codigo)" class="btn btn-danger">Borrar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
   
</div>