      <div class="container-fluid border-top ">
        <footer class=" d-flex flex-wrap justify-content-around align-items-center py-3" >
          <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text-muted">© 2024 Spring - Academ-IT 4</span>
          </div>
      
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a href="https://twitter.com/GestorSpring" target="_blank"><fa-icon [icon]="logoTwitter"></fa-icon></a></li>
            <li class="ms-3"><a href="https://www.facebook.com/profile.php?id=61556524250552" target="_blank"><fa-icon [icon]="logoFacebook"></fa-icon></a></li>
            <li class="ms-3"><a href="https://www.instagram.com/gestorspring/" target="_blank"><fa-icon [icon]="logoInstagram"></fa-icon></a></li>  
          </ul>
        </footer>
      </div>