/* You can add global styles to this file, and also import other style files */
:root {
    --clr-red: #f09b93;
    --clr-green: #90c290;
    --clr-disabled:#ccc;
    --font-small: 0.8em;

    ::placeholder {
        color: #ccc;
    }
}

*::placeholder {
    color: var(--clr-disabled);
}

option {
    color: #212529;
}

select:invalid {
    color: var(--clr-disabled);
}

option[disabled] {
    display: none
}
.select-placeholder{
    color:var(--clr-disabled)
}



.input-valid {
    outline: 2px solid var(--clr-green);
}

.input-invalid {
    outline: 2px solid var(--clr-red);
}

.warning-txt {
    font-size: var(--font-small);
    color: var(--clr-red);
    margin-top: 2px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}
