<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 shadow ">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img style="width: 10em;margin:1em;" src={{logo}} alt="logotipo spring">
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="nav-link px-2 link-secondary">Home</a></li>
        <li><a [routerLink]="['/proveedores']" routerLinkActive="router-link-active"  class="nav-link px-2 link-dark">Proveedores</a></li>
        <li><a [routerLink]="['/productos']" routerLinkActive="router-link-active"  class="nav-link px-2 link-dark">Products</a></li>
        <li><a [routerLink]="['/ordenes']" routerLinkActive="router-link-active"  class="nav-link px-2 link-dark">Ordenes</a></li>
       
      </ul>
      <div class="col-md-3 text-end"></div>
</div>
